/*body,html{
  overflow-x: hidden;
}*/

#home-2 .container, #home-3 .contain{
  display: none;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #408dd6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 100px;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}


.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 25px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  height: 4px;
  width: 100%;
}

.navbar-brand.is-closed .logo{
	display: block
}

.navbar-brand.is-open .logo{
	display: block
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom{
	left: 140px;
}



.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #408dd6;
  left: 0;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #408dd6;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
html,body,h1,h2,h3,h4,h5,h6,p,span{
	font-family: 'Lato', sans-serif;
}
html,body,p{font-size:15px;}
#home h3,h1{font-weight:300;}
.landingtext {
    text-align: left;
    color: #fff;
    letter-spacing: 2px;
}
#home h3{font-size:38px;}
#home img{ height:80px; }
#home ul{
list-style-type: none;
}
#home .col-lg-9 li:before{	
	content:'/';
	margin:0 5px 0 -15px;
}
h1.landingtext { font-size:60px;}
.nav>li>a:focus, .nav>li>a:hover{
background-color:transparent;
}
.nav>li>a>span{color:#fff;}
.nav .fa{font-size:22px;}
.nav{font-size:16px;}
.logo {
    height: 64px;
    margin-top: 10px;
    margin-left: 80px;
    background: transparent;
    border: none;
}
.logo.is-open{margin-left:220px;}
#home-3,#home-2,#about,#about-2,#client{
    height: auto;
    min-height: 400px;
}
#home,#about,#about-2,#client{
    padding-top: 60px;
}

#home {
	min-height: 710px;
    color: #fff;
    background: linear-gradient(rgba(62, 67, 68, 0.55), rgba(21, 24, 25, 0.55)), url(../img/bg.jpg)  center center / cover no-repeat fixed;
}
#home-3{
    background: linear-gradient(rgba(62, 67, 68, 0.55), rgba(30, 31, 31, 0.55)), url(../img/bg-1.png) center center / cover no-repeat fixed;
	color:#408dd6;
}
#home-3 h2{padding:60px 0;}
.martop20 {margin-top: 20px;}
.padtobo20{padding:20px 0;}
#home-2{
	line-height: 28px;
	font-size: 16px;
}
#home-2 h2{
	border-left: 3px solid #408dd6;
	padding-left: 8px;
	margin-top: 100px;
	font-size: 25px;
}
#home-2 .col-lg-4{
	padding:0 20px;
}
.btn-trans{
	background-color: transparent;
	padding: 16px 44px;
    font-size: 18px;
    color:#408dd6;
    margin: 20px 0;
    border:2px solid #408dd6;
    border-radius: 0;
}
.btn-blu{
	background-color: #408dd6;
	padding: 16px 44px;
    font-size: 18px;
    color:#fff;
    margin: 20px 0;   ;
    border-radius: 0;
}
.col-sm-5cols {
    width: 20%;
    float: left;
    margin-bottom:20px;
}
.footer{
	height: 100px;
	padding:20px 0;
	background: #232323;
	color: #fff;
}
.footer img{
	max-height: 50px;
}
.client-2 h3{font-size:35px}
.client-2 hr{
	border-top: 3px solid #408dd6;
	width: 55%;
	float: left;
}

.client-2 p{
	font-size:18px;
	margin-top:19px
}
/*.client-2 img{
	max-width:60%
}
.client-2 img:first-child{
	max-width:80%
}

@media (max-width: 720px) {
 .client-2 img{
	max-width:90%
}
}*/
#contact{
	color: #fff;
	background-color:#408dd6;
	font-size:18px; 
}
.blumap{
	padding-top:180px;
}

#about{
	color: #fff;
    background: linear-gradient(rgba(62, 67, 68, 0.55), rgba(134, 142, 144, 0.55)), url(../img/bg-2.jpg) center center / cover no-repeat fixed;
}
#about-1 p{
	font-size:16px;
	line-height: 30px;
}

#about-2{
	color: #fff;
    background: linear-gradient(rgba(62, 67, 68, 0.55), rgba(7, 13, 14, 0.55)), url(../img/bg-2.jpg) center center / cover no-repeat fixed;
}
#about-2 p{
	font-size:28px;
	margin-top: 30px;
	font-weight:100;	
}

.sects div.col-lg-4:not(:nth-child(3n)) .item{   
 	border-right: 1px solid rgb(195, 195, 195);
 	
}
.item{
	padding:13px 10px;
	height: 465px;
	margin-bottom:10px;	
}
.item:after{
	 content:""; 
	  background: rgb(195, 195, 195); 
	  position: absolute; 
	  bottom: 0; 
	  left: 10%; 
	  height: 1px; 
	  width: 70%;
}

.item>img{
	max-height: 150px;
	margin:auto;
	display: block
}
.item hr{
	    border-top:2px solid #408dd6; 
	    width:30%;
	    position: absolute;
    	bottom: 10px;
    	margin-left:30%;
}
#client{
    background: linear-gradient(rgba(62, 67, 68, 0.55), rgba(30, 31, 31, 0.55)), url(../img/client.jpg) center center / cover no-repeat fixed;
	color:#fff;
}
.clients-row {
    padding: 0;
    clear: both;
}
.clients-row:after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin-bottom: 240px;
}

.clients-row__block {
    display: inline-block;
    float: left;
    height: 180px;
    line-height: 180px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 180px;
    margin: 0 -24px 85px;

}
.clients-row__block:before {
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    background: #e4e4e4;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateZ(45deg);
    width: 100%;
    z-index: -1;
}
.clients-row__block:nth-child(6n+2) {
    top: 200px;
}

.clients-row__block:nth-child(6n+3) {
    top: 68px;
}

.clients-row__block:nth-child(6n+4) {
    top: 200px;
}

.clients-row__block:nth-child(6n+5) {
    top: 0;
    margin-left: -92px;
}

.clients-row__block:nth-child(6n+6) {
    top: 132px;
}

.clients-row__block:nth-child(6n+7) {
    top: 0;
}

.clients-row__block:nth-child(6n+8) {
    left: 264px;
    top: 68px;
}

.clients-row__block:nth-child(6n+9) {
    left: 396px;
}

.clients-row__block:nth-child(6n+10) {
    top: 0px;
    left: 460px;
}

.clients-row__block:nth-child(6n+11) {
    top: 136px;
    left: -260px;
}

.clients-row__block:nth-child(6n+12) {
    top: 200px;
    left: -64px;
}

.clients-row__block:nth-child(6n+13) {
    top: 200px;
    left: 68px;
    margin-right: 100px;
}

.clients-row__block:nth-child(6n+14) {
    left: 200px;
    top: 4px;
}

.clients-row__block:nth-child(6n+15) {
    left: 396px;
    top: 68px;
}

.clients-row__block:nth-child(6n+16) {
    top: 138px;
}

.clients-row__block:nth-child(6n+18) {
    top: 136px;
    left: -128px;
    margin-right: 100px;
}

.clients-row__block:nth-child(6n+19) {
    top: 136px;
    left: -128px;
}

.clients-row__block-label {
    left: 68px;
    color:#fff;
}
.clients-row__block-label:before {
    background: #408dd6;
}

/*.clients-row__block__label:after {
    background: #1aaf5e;
    bottom: -10px;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 26px;
}*/
.clients-row__block__image {
    vertical-align: middle;
}
.page_con {
    padding: 50px 40px;
    position: relative;
}

@media (max-width: 480px) {
 .page_con{padding-left:10px;padding-right:10px;padding-top:30px;width:300px;margin:auto}

}

@media (min-width: 480px) and (max-width: 767px) {
	.page_con{padding-left:40px;padding-right:40px;padding-top:20px}
}

@media (min-width: 768px) and (max-width: 959px) {
	.page_con{padding-left:30px;padding-right:30px;padding-top:20px}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.page_con{padding-left:50px;padding-right:50px}
}

@media (min-width: 767px) and (max-width: 960px) {
    .clients-row {
        max-width: 687px;
    }

    .clients-row__block:nth-child(6n+6) {
        margin-left: 108px;
        top: 200px;
    }
    .clients-row__block:nth-child(6n+7) {
        top: 68px;
    }
    .clients-row__block:nth-child(6n+8) {
        left: 132px;
    }
    .clients-row__block:nth-child(6n+9) {
        left: -132px;
        top: 200px;
    }
    .clients-row__block:nth-child(6n+10) {
        top: 68px;
        left: 528px;
    }
    .clients-row__block:nth-child(6n+11) {
        left: 4px;
    }
    .clients-row__block:nth-child(6n+12) {
        top: 68px;
    }
}

@media (max-width: 766px) {
    .clients-row {
        width: 310px;
        margin: 0px auto;
    }
    .clients-row:after {
        margin-bottom: 92px;
    }
    .clients-row__block:nth-child(1n) {
        top: 0px;
        left: 0px;
        margin: 0;
    }
    .clients-row__block:nth-child(2n+0) {
        left: 132px;
        top: -48px;
    }
    .clients-row__block:nth-child(2n+3) {
        margin-top: -96px;
    }
}

/*.sects>.col-lg-4 :nth-child(1){
	border-right: 1px solid yellow;
}

*/
